* {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}

#root {
  width: 100%;
}

.profile-container {
  margin: auto;
  width: 80%;
  padding-bottom: 40px;
}

.profile-card {
  margin: 20px;
  border: .5px solid gray;
  max-width: 300px;
}

.profile-notes {
  width: 95%;
  max-width: 295px;
  word-wrap: break-word;
}

.profile-card-content {
  padding: 10px;
}

.button {
  display:inline-block;
  width: 40px;
  height: 40px;
  padding: 20px;
}

.curate-logo {
  letter-spacing: 4px;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index:1;
    background-color: rgba(0, 0, 0, 0.4);
}

body {
  margin: 0;
  font-size: 16px;
}

h3 {
  padding: 0;
}

.profile-icon {
  display: inline-block;
  margin-right: 5px;
}

.profile-icon-container {
  height: 30px;
}

.curate-logo {
  font-size: 30px;
}

a {
  color: rgb(255,82,82);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
  font-size: 15px;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  margin: auto;
}

.auth-field {
  width: 40%;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}
